{% extends 'base.html' %}

{% block title %}
  Willbeckh| downloader
{% endblock%}

{% block content %}
<div class="container">
  <h2>Youtube dl</h2>
  <form action="" method="GET, POST">
    <input type="text" placeholder="paste link here" name="url" class="link-field">
    <br>
    <br>
    <input type="submit" value="Download" class="dl-btn">
  </form>
  <div class="about">
    <p>Hello, This Youtube downloader is made using python- flask framework. & pytube a python package</p>
  </div>
</div>

{% endblock %}
